header {
    text-align: center;
}

.block_tasks {
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.block_tasks h3 {
    padding-left: 20px;
}

.block_tasks_task {
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.block_tasks_task-tittle {
    margin-bottom: 10px;
}

.block_tasks_task-body label {
    margin-right: 10px;
}

.block_tasks_task-body button, .block_tasks_task-body input {
    margin: 5px 0;
}

.block_function .block_tasks_task input{
    width: 50%;
    min-width: 200px
}